* {
    font-family: "Helvetica", sans-serif;
}

body {
    margin: 0; 
}

#hero, .footer {
    background-color:#1F2937;
    color: #F9FAF8;
}

.header {
    display: flex;
    justify-content: space-around;
}

.links {
    display: flex;
    column-gap: 20px;

}
ul.links {
    list-style-type: none;
}

.herobutton, #cta {
    background-color: #3882F6;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    margin: 10px;
}

.headerlink, .herosub {
    font-size: 18px;
    color: #E5E7EB;
}

.heromain {
    font-size: 48px;
    font-weight: 700;
    color: #F9FAF8;
}

.herobox {
    display: flex;
    justify-content: space-between;
    padding: 160px;
}

.heroleft {
    display: flex;
    flex-direction: column;
    width: 420px;
}

.herobutton {
    width: 80px;
    border-radius: 6px;
    color: white;
    margin-top: 6px;
}
.heroimg {
    padding: 80px;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;

}

#features {
    padding: 40px 150px;
}
.featureshead {
    text-align: center;
}

.img {
    border: solid #3882F6 2px;
    border-radius: 6px;
    height: 100px;
    width: 100px;
    
}
.bennieboxes {
    display: flex;
    justify-content: space-around;
}

.bennies {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 160px;
    text-align: center;
    
}


#quote {
    background-color:#E5E7EB;
    padding: 100px 240px;
    margin-top: 10px;
}

.quotetext {
    font-size: 36px;
    font-weight: 200;
    font-style: italic;
}

.quoter {
    text-align: right;
}

#cta {
    display: flex;
    justify-content: space-between;
    margin: 80px 120px;
    color: white;
    padding: 30px 120px;
}

.ctabox {
    display: flex;
    align-items: center;
}
.ctabutton {
    height: 30px;
    width: 100px;
    color: white;
    background-color: transparent;
    border-radius: 8px;
    border-color: white;

}

.footer {
    text-align: center;
    padding: 24px; 
}